<app-navbar></app-navbar>


<div class="row">
  <div class="card mb-3">
    <h3 class="card-header">Dresses</h3>
    <button
      class="category"
      [routerLink]="['/dresses']"
      routerLinkActive="router-link-active"
    >
      <div class="image">
        <img src="assets/dresses.jpg" />
      </div>
    </button>
  </div>

  <div class="card mb-3">
    <h3 class="card-header">Sets</h3>
    <button
      class="category"
      [routerLink]="['/sets']"
      routerLinkActive="router-link-active"
    >
      <div class="image">
        <img src="assets/sets.jpeg" />
      </div>
    </button>
  </div>

  <div class="card mb-3">
    <h3 class="card-header">Shoes</h3>
    <button
      class="category"
      [routerLink]="['/shoes']"
      routerLinkActive="router-link-active"
    >
      <div class="image">
        <img src="assets/shoes.jpg" />
      </div>
    </button>
  </div>

  <div class="card mb-3">
    <h3 class="card-header">Leggings</h3>
    <button
      class="category"
      [routerLink]="['/leggings']"
      routerLinkActive="router-link-active"
    >
      <div class="image">
        <img src="assets/leggings.jpeg" />
      </div>
    </button>
  </div>

  <div class="card mb-3">
    <h3 class="card-header">Accessories</h3>
    <button
      class="category"
      [routerLink]="['/accessory']"
      routerLinkActive="router-link-active"
    >
      <div class="image">
        <img src="assets/accessories.jpeg" />
      </div>
    </button>
  </div>
</div>
